URL=n<my domain for ngrok and webhook>
VALIDATION=http
EMAIL=<email address>
NGROK_AUTH=J<ngrok API key>

# First run or when you need a new cert, switch these two lines
# NGROK_PORT=letsencrypt:80
NGROK_PORT=webhook:5000

# When using lets encrypt then use HTTP else use TLS
# NGROK_PROTOCOL=HTTP
NGROK_PROTOCOL=TLS

LETS_ENCRYPT=/config
KEY=$LETS_ENCRYPT/etc/letsencrypt/live/$URL/privkey.pem
CERT=$LETS_ENCRYPT/etc/letsencrypt/live/$URL/cert.pem